<a href="https://colab.research.google.com/github/emindlg/Python-workshop-in-Colab/blob/main/List_Comprehension_worksheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
my_list = [1, 2, 3, 4, 5, 6]
new_list = []

In [3]:
for x in my_list:
    if x % 2 != 0:
        new_list.append(x**2)

print(new_list)

[1, 9, 25]

In [ ]:
#[ expression for item in iterable ]

In [ ]:
expression/body if condition (True ise) else expression/body2

In [5]:
[x**2 for x in my_list]

[1, 4, 9, 16, 25, 36]

In [7]:
[x**2 for x in my_list if x % 2 != 0 ]

[1, 9, 25]

In [ ]:
for item in iterable:
     if condition:
         expression

In [16]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = []

In [15]:
for x in fruits:
    if "n" in x:
        newlist.append(x)

print(newlist)

['banana', 'mango']

In [17]:
for x in fruits:
    if "a" in x:
        newlist.append(x)


print(newlist)

['apple', 'banana', 'mango']

**LİST COMPRENHENSİON:**

In [24]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist1 = []

In [26]:
newlist1 = [x for x in fruits if "k" in x]

print(newlist1)

['kiwi']

In [27]:
newlist1 = [x for x in fruits if x != "mango"]

In [28]:
print(newlist1)

['apple', 'banana', 'cherry', 'kiwi']

In [29]:
newlist = [ x for x in range(10)]

In [30]:
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
newlist2 = [x for x in range(10) if x < 4]

In [39]:
newlist2

[0, 1, 2, 3]

In [40]:
newlist = [x.upper() for x in fruits]

In [41]:
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [42]:
newlist = ["iterate edilen her bir item a istediğim çıktıyı döndürürüm" for x in fruits]

In [43]:
newlist

['iterate edilen her bir item a istediğim çıktıyı döndürürüm',
 'iterate edilen her bir item a istediğim çıktıyı döndürürüm',
 'iterate edilen her bir item a istediğim çıktıyı döndürürüm',
 'iterate edilen her bir item a istediğim çıktıyı döndürürüm',
 'iterate edilen her bir item a istediğim çıktıyı döndürürüm']

In [44]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

In [48]:
newlist = [x if x != "banana" else "orange" for x in fruits ]

In [50]:
newlist

['orange', 'banana', 'orange', 'orange', 'orange']

In [53]:
newlist = [x if x == "banana" else "orange" for x in fruits ]

In [54]:
newlist

['orange', 'banana', 'orange', 'orange', 'orange']

In [52]:
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']