<a href="https://colab.research.google.com/github/emindlg/Python-workshop-in-Colab/blob/main/Teamwork_selfstudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def san(x):
 print(x+1)
x=-2
x=4
san(12)

13

In [24]:
def foo(fname, val):
    print(fname(val))

type(foo(list, "400"))

['4', '0', '0']

NoneType

In [ ]:
def foo()

In [25]:
count = 0
my_string = "Clarusway"
my_char = "a"
for i in my_string:
    if i == my_char:
        count += 1
print(count)

2

In [26]:
num = 2013
reversed_num = 0
while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10
print(reversed_num)

3102

In [29]:
f=lambda x: bool(x%2)
print(f(20), f(21))

False True