<a href="https://colab.research.google.com/github/emindlg/Python-workshop-in-Colab/blob/main/Working_with_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_file = open("file1.txt")
print(my_file)

close(my_file)

In [ ]:
my_file = open("first_file.txt", encoding="UTF-8") # yand kullanılan encoding, bir dosyanın nasıl kodlanacağına yönelik metodu gösteriyor

In [5]:
pwd

'/content'

In [14]:
sea = open("fishes.txt", "r")

In [7]:
pwd

'/content'

In [8]:
sea = open("fishes.txt", "r")

In [13]:
print(sea.read())

ValueError: ignored

In [10]:
sea.close()

In [18]:
sea = open("fishes.txt", "r")

print(sea.read(33))
print()
print(sea.read(12))
print()
print(sea.read(25))
print()

print(sea.tell())

sea.close()

Orca bir tür Yunustur.
Mavi Bali

na yeryüzünd

e bilinen en büyük hayvan

76

In [19]:
sea = open("fishes.txt", "r")


print(sea.readline())
print()
print(sea.readline())
print()
print(sea.readline())

sea.close()

Orca bir tür Yunustur.


Mavi Balina yeryüzünde bilinen en büyük hayvandır.


Köpekbalıkları, Işınların (batoidler) kardeş grubudur.

In [20]:
sea = open("fishes.txt", "r")

print(sea.readlines())

sea.close()

['Orca bir tür Yunustur. \n', 'Mavi Balina yeryüzünde bilinen en büyük hayvandır. \n', 'Köpekbalıkları, Işınların (batoidler) kardeş grubudur. \n', 'Ton Balığı 260 kg ağırlığa kadar çıkabilir. \n', 'Kalamar ve Ahtapot aynı sınıftadır.']

In [21]:
sea = open("fishes.txt", "r")

for x in sea:
    print(x)


sea.close()

Orca bir tür Yunustur.

Mavi Balina yeryüzünde bilinen en büyük hayvandır.

Köpekbalıkları, Işınların (batoidler) kardeş grubudur.

Ton Balığı 260 kg ağırlığa kadar çıkabilir.

Kalamar ve Ahtapot aynı sınıftadır.

In [5]:
sea = open("fishes.txt", "r")

for x in sea:
    print(x)

sea.close()

FileNotFoundError: ignored

In [10]:
with open("fishes.txt", "r") as sea:
    print(sea.read())

FileNotFoundError: ignored

In [17]:
with open("fishes.txt", "r") as sea:
    print(sea.read())

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.

In [18]:
with open("fruits.csv", "r", encoding="UTF-8") as file:
    print(file.read())

no,fruit,amount
1,Banana,4 lb
2,Orange,5 lb
3,Apple,2 lb
4,Strawberry,6 lb
5,Cherry,3 lb

In [19]:
import csv

In [21]:
with open("fruits.csv", "r", newline="", encoding="UTF-8") as file: 
    csv_rows = csv.reader(file)

    for row in csv_rows:
        print(row)

['no', 'fruit', 'amount']
['1', 'Banana', '4 lb']
['2', 'Orange', '5 lb']
['3', 'Apple', '2 lb']
['4', 'Strawberry', '6 lb']
['5', 'Cherry', '3 lb']

In [22]:
with open("fruits.csv", "r", encoding="UTF-8") as file: 
    csv_rows = csv.reader(file)

    for row in csv_rows:
        print(row)

['no', 'fruit', 'amount']
['1', 'Banana', '4 lb']
['2', 'Orange', '5 lb']
['3', 'Apple', '2 lb']
['4', 'Strawberry', '6 lb']
['5', 'Cherry', '3 lb']